<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="" method="post">
    <div class="input-item">
        <div class="label-text">Name:</div>
        <div class="input-block">
            <input type="text"  name="name" placeholder="Enter your Name" onclick="this.placeholder=\'\'" onblur="this.placeholder=\'Enter your Name\'"/>
        </div>
        <div class="input-item">
            <div class="label-text">Password:</div>
            <div class="input-block">
                <input type="password" name="password" placeholder="Enter your Password" onclick="this.placeholder=\'\'" onblur="this.placeholder=\'Enter your Password\'"/>
            </div>
        </div>
        <div class="input-item">
            <div class="label-text">Confirm Password:</div>
            <div class="input-block">
                <input type="password" name="conf_password" placeholder="Confirm your Password" onclick="this.placeholder=\'\'" onblur="this.placeholder=\'Confirm your Password\'"/>
            </div>
        </div>
        <div class="submit-item">
            <input type="submit" value="Sign up"/>
        </div>
    </div>
</form>
</body>
</html>